<template>
    <div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Personas</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-list "></i></span>
                    <!--<input type="hidden" name="person_id" v-model="selectedPerson.id">-->
                    <!--<v-select  v-model="selectedPerson"   label="identification"  :options="persons" placeholder="Seleccionar"></v-select>-->
                    <select  id="person" name="persona" class="form-control bootstrap-select" v-model="personaSelect">
                        <option value="" selected="">-- Seleccionar persona--</option>
                        <option v-for="option in persons" v-bind:value="option.id">
                            {{ option.first_name }} {{option.last_name }}
                        </option>
                    </select>
                    <span class="input-group-btn">
                        <a class="btn btn-primary" @click="createPersona()"><i class="fa fa-plus "></i></a>
                    </span>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        props: [
            'personaid',
        ],
        data() {
            return {
                persons: [],

                personaSelect: "",
            }
        },
        methods: {
            getPersons: function () {
                axios.get('/personsj')
                    .then(res => {
                        this.persons = res.data;

                    });
            },
            createPersona: function(){
                window.location.href = window.location.origin+'/persons/create';
            }

        },
        mounted() {
            this.getPersons();
            this.personaSelect = this.personaid;
            console.log(this.personaSelect);
        }

    }


</script>
