body {
    font-family: 'Ubuntu', sans-serif;
}

div #bs-example-navbar-collapse-1.navbar-collapse.collapse.in {
    height: auto;
}

.well {
    background-color: #fff;
    padding: 19px;
    margin-bottom: 20px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2px;
    border: 0;
}

.center {
    margin: 0 auto;
    width: 90%;

}

.force-to-bottom {
    position: absolute;
    bottom: -2%;
    margin-left: -45px;
    width: 100%;
}

.radiostyle {
    background-color: #999;
}

.radiostyle1 {
    background-color: #ffff;
}

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

/*
* And with max cross-browser enabled.
* Nobody should ever write this by hand.
* Use a preprocesser with autoprefixing.
*/
.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.carousel {
    height: 400px;
    margin-bottom: 60px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 400px;
    background-color: #777;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 400px;
}

.price {
    position: absolute;
    top: 33px;
    width: 35%;
    height: 8%;
}

.priceshow {
    position: absolute;
    top: 0px;
    width: 10%;
    height: 6%;
}

@media (max-width: 767px) {
    .price {
        position: absolute;
        top: 16px;
        width: 30%;
        height: 10%;
    }
}

@media (max-width: 768px) {
    .rotatemorfs {
        font-size: 23px !important;
    }
}
@media (min-width: 768px) {
    .displaynone {
        display: none !important;
    }
}

.counter {
    width: 20px;
    height: 20px;
    background: black;
    color: #fff;
    position: fixed;
    top: 120px;
    right: 0;
}

.displaynone {
    display: none !important;
}

span.select2-selection.select2-selection{
    height: 34px;
}